body{
	width: 50%;
}

textarea{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: block;
	padding: 1rem;
	box-sizing: border-box;
	background-color: black;
	color: white;
	height: 20rem;
	resize: none;
}